*.csv
*.txt
*.log
*.json
*.html
*.ini
*.conf
*.DS_Store
*.vscode
*.obj
*.lib   
*.pdb
*.env
*.venv
/config
/data
/notebooks/__pycache__
/output
*.pdf
/business ai engine.code-workspace
README.md
pipeline/tasks/__pycache__/data_fetch.cpython-312.pyc
pipeline/tasks/__pycache__/pre_processor.cpython-312.pyc
*.pyc